@media screen and (min-width: 500px) {

body {
    background: rgb(251, 248, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    margin: 0;

}

header {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
}

header h1 {
    line-height: 12px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

header nav a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    position: relative;
    bottom: 2px;
    padding: 10px;
    margin-right: 8px;
    padding: 16px;
}

header nav a:last-child{
    margin-right: 0;
}

header nav a:hover {
    border-color: rgb(182, 182, 182);
    color: rgb(255, 255, 255);
    background: rgb(22, 29, 27);
    text-decoration: none;
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

aside {
    border: 1px solid rgb(247, 247, 247);
    position: sticky;
    top: 5px;
    background: rgb(255, 255, 255);
    max-width: 24%;
    width: 20%;
    margin: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0;
    box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
    box-sizing: border-box;
    overflow: hidden;
}

aside h2 {
    color: rgb(12, 11, 11);
    text-decoration: underline;
    position: relative;
    padding: 2px;
    line-height: 2px;
    transform: translateX(15%) translateY(-10%);
}

aside #flex nav {
    display: block;
}

aside #flex nav ol {
    list-style: none;
    position: relative;
    display: flex;
    align-self: center;
    flex-direction: column;
}

aside #flex nav ol li a {
    color: rgb(0, 0, 0);
    background: linear-gradient(-90deg,rgb(255, 249, 249), rgb(250, 250, 250));
    text-decoration: none;
    position: relative;
    overflow: hidden;
    padding: 12px;
    border: 2px solid transparent;
}

aside #flex nav ol li a:hover {
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    background: rgb(22, 29, 27);
    text-decoration: none;
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

aside #flex nav ol li {
    display: flex;
    width: 75%;
    flex-flow: column;
}

main #content{
    position: relative;
    border: 1px solid rgb(206, 206, 206);
    bottom: -6px;
    background: rgb(255, 255, 255);
    width: 68%;
    height: 75%;
    margin: auto;
    display: flex;
    padding: 16px;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
}

.paragraph{
    text-align: center;
}

main #content h2,
main #content h3 {
    color: rgb(22, 29, 27);
    text-decoration: underline;
}

form {
    position: relative;
    border: 1px solid rgb(206, 206, 206);
    background: rgb(255, 255, 255);
    height: 217px;
    display:  flex;
    flex-direction: column;
    max-width: 55%;
    width: 35%;
    align-self: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px gray;
}

form h2 {
    color: rgb(22, 29, 27);
    text-decoration: underline;
    line-height: 10px;
}

form input {
    border: 2px solid rgb(167, 167, 167);
    display: flex;
    margin: 1px;
    flex-direction: column;
    width: 75%;
    overflow: hidden;
}

form input:focus {
    border: 2px solid rgb(89, 255, 139);
    outline: 0;
}

form button {
    background: rgb(0, 255, 98);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 7px;
    width: 24%;
    overflow: hidden;
}

#item1,
#item2{
    padding: 5px;
}

#item3 {
    padding: 20px;
}

footer {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    padding: 12px;
    background: rgb(22, 29, 27);
    width: 100%;
    height: 100%;
    color: white;
}

footer nav{
    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
}

footer nav h2 {
    text-align: center;
}

footer nav ol {
    list-style: none;
    display: flex;
    flex-flow: column;
}

footer nav ol li {
    display: flex;
    flex-flow: column;
}

footer nav ol li a {
    border: 1px solid rgb(22, 29, 27);
    color: rgb(22, 29, 27);
    background: rgb(253, 253, 253);
    position: relative;
    display: flex;
    align-self: center;
    top: -15px;
    padding: 13px;
    text-decoration: none;
}

footer nav ol li a:hover {
    color: rgb(255, 255, 255);
    background: rgb(22, 29, 27);
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

footer nav ol li a:last-child{
    width: 80%;
    text-align: center;
}

footer #medias {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
    align-items: center;
    width: 18%;
}

footer #medias h2 {
    width: 100%;
}

footer #medias a {
    display: flex;
    align-items: center;
    color: rgb(22, 29, 27);
    background: white;
    text-decoration: none;
    padding: 3px;
    border: 1px solid rgb(22, 29, 27);
}

footer #medias a:hover {
    background: rgb(22, 29, 27);
    color: white;
    transition-property: background,color;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

footer #medias img{
    width: 20%;
    margin-right: 10px;
    border: 3px solid transparent;
    background:  white;
}

footer address{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
}

footer address a {
    color: white;
    border: 3px solid transparent;
}
}

@media screen and (max-width: 700px) {

body {
    background: rgb(251, 248, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

header {
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
}

header h1 {
    line-height: 12px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

header nav a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    position: relative;
    bottom: 2px;
    padding: 10px;
    margin-right: 8px;
    padding: 16px;
}

header nav a:last-child{
    margin-right: 0;
}

header nav a:hover {
    border-color: rgb(182, 182, 182);
    color: rgb(255, 255, 255);
    background: rgb(22, 29, 27);
    text-decoration: none;
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

aside {
    border: 1px solid rgb(247, 247, 247);
    position: sticky;
    top: 15px;
    float: left;
    background: rgb(255, 255, 255);
    max-width: 24%;
    width: 24%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0;
    box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
    box-sizing: border-box;
    overflow: hidden;
}

aside h2 {
    color: rgb(12, 11, 11);
    text-decoration: underline;
    position: relative;
    padding: 2px;
    font-size: 18px;
    line-height: 2px;
    transform: translateX(7%) translateY(40%);
}

aside #flex nav {
    display: flex;
    justify-content: center;
    width: 55%;
}

aside #flex nav ol {
    list-style: none;
    display: flex;
    flex-direction: column;
}

aside #flex nav ol li a {
    color: rgb(0, 0, 0);
    background: linear-gradient(-90deg,rgb(255, 249, 249), rgb(250, 250, 250));
    width: 100%;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border: 2px solid transparent;
}

aside #flex nav ol li a:hover {
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    background: rgb(22, 29, 27);
    display: flex;
    width: 100%;
    text-decoration: none;
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

aside #flex nav ol li {
    display: flex;
    font-size: 14px;
}

main #content{
    border: 1px solid rgb(206, 206, 206);
    bottom: -6px;
    /* float: right; */
    background: rgb(255, 255, 255);
    width: 60%;
    height: 75%;
    margin: 6px;
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
}

.paragraph{
    text-align: center;
    overflow: hidden;
}

main #content h2,
main #content h3 {
    color: rgb(22, 29, 27);
    text-decoration: underline;
}

form {
    position: relative;
    border: 1px solid rgb(206, 206, 206);
    background: rgb(255, 255, 255);
    height: 217px;
    display:  flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-self: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px gray;
}

form h2 {
    color: rgb(22, 29, 27);
    text-decoration: underline;
    line-height: 10px;
}

form input {
    border: 2px solid rgb(167, 167, 167);
    display: flex;
    margin: 1px;
    flex-direction: column;
    width: 75%;
    overflow: hidden;
}

form input:focus {
    border: 2px solid rgb(89, 255, 139);
    outline: 0;
}

form button {
    background: rgb(0, 255, 98);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 7px;
    width: 28%;
    overflow: hidden;
}

#item1,
#item2{
    padding: 5px;
    width: 80%;
}

#item3 {
    padding: 20px;
}

footer {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 12px;
    background: rgb(22, 29, 27);
    width: 100%;
    height: 100%;
    color: white;
}

footer nav{
    display: inline-flex;
    flex-direction: column;
    width: 35%;
    /* max-width: 28%; */
}

footer nav ol {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-flow: column;
}

footer nav h2 {
    /*margin-bottom: 46%;*/
}

footer nav ol li a {
    border: 1px solid rgb(22, 29, 27);
    color: rgb(22, 29, 27);
    background: rgb(253, 253, 253);
    position: relative;
    display: flex;
    align-self: center;
    top: -15px;
    padding: 8px;
    text-decoration: none;
    width: 70%;
}

footer nav ol li a:hover {
    color: rgb(255, 255, 255);
    background: rgb(22, 29, 27);
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

footer nav ol li a:last-child{
    width: 70%;
}

footer #medias {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    align-self: flex-end;
    margin-left: 1%;
    width: 30%;
}

footer #medias h2 {
    width: 110%;
    line-height: 85%;
    margin-bottom: 5%;
}

footer #medias a {
    display: flex;
    align-items: center;
    color: rgb(22, 29, 27);
    background: white;
    text-decoration: none;
    border: 1px solid rgb(22, 29, 27);
}

footer #medias a:hover {
    background: rgb(22, 29, 27);
    color: white;
    transition-property: background,color;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

footer #medias img{
    width: 29%;
    margin-right: 4px;
    border: 1px solid transparent;
    background:  white;
}

footer address{
    display: flex;
    flex-direction: column;
    width: 69%;
    align-items: flex-end;
}

footer address h2{
    margin-bottom: 0;
}

footer address a {
    color: white;
    width: 75%;
    border: 3px solid transparent;
}
}